.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  width: 100%;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(2, 15, 29, 0.8);
}

.header .logo {
  cursor: pointer;
  align-items: center;
}

.header .logo .icon {
  width: 70px;
}

.navList {
  gap: 1.3rem;
}

.navList .navItem .navLink {
  color: var(--whiteColor);
}
